.league-container {
    position: absolute;
    margin-top: 10vh;
    left: 0;
    right: 0;
    width: 90%;
    padding: 20px;
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}


.league-selector {
    margin-bottom: 20px;
    color: #eaeaea;
}

.league-selector label {
    font-size: 18px;
    margin-right: 10px;
}

.league-selector select {
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #797979;
}

.league-selector option{
    color: #333333;
}


.league-table {
    background-color: #292929;
    padding: 20px;
    border-radius: 10px;
}

.league-table h2 {
    text-align: center;
    margin-bottom: 10px;
}

.league-table table {
    width: 100%;
    border-collapse: collapse;
}

.league-table th,
.league-table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
    border-right: 2px solid white;
}

.league-table th:last-child,
.league-table td:last-child {
    border-right: none;
}

.league-table tr {
    border-bottom: 1px solid #444;
}
.league-table th {
    background-color: #444;
}
