@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 4%;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}
ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

.navbar.light ul li:not(:last-child) {
    border-right: 2px solid;
    padding-right: 20px;
    color: #333333;
}
.navbar.dark ul li:not(:last-child) {
    border-right: 2px solid;
    padding-right: 20px;
    color: #eaeaea;
}

.search-box {
    position: relative;
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    color: #333333;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
    color: #333333;
}

.search-results li:hover {
    background: #f0f0f0;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    max-width: 200px;
    color: inherit;
}

.search-box input::placeholder {
    color: inherit;
}

.search-icon {
    color: inherit;
}

.navbar.dark {
    background-color: #333;
    color: white;
}

.navbar.dark .search-box {
    background-color: #555;
}

.navbar.dark .search-box input {
    color: white;
}

.navbar.dark .search-box input::placeholder {
    color: #aaa;
}

.navbar.dark .search-icon {
    color: white;
}

.navbar.light {
    background-color: white;
    color: black;
}

.navbar.light .search-box {
    background-color: #f0f0f0;
}

.navbar.light .search-box input {
    color: black;
}

.navbar.light .search-box input::placeholder {
    color: #888;
}

.navbar.light .search-icon {
    color: black;
}

.navbar .dark-mode-toggle {
    width: 50px;
    font-size: 28px;
    cursor: pointer;
    margin-left: 45px;
}
.logout-icon{

    font-size: 34px;
    margin-left: -30px;
    cursor: pointer;
}
.navbar.light .logout-icon{
    color:black;
}
.navbar.black .logout-icon{
    color: #eaeaea;
}
